<nav class="navbar navbar-expand-md navbar-dark bg-dark">
 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if !@is_logged_in %>
        <li class="nav-item">
          <a class="nav-link" href="/users/sign_in"> Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/sign_up"> Register</a>
        </li>
      <% end %>
      
      <% if @is_logged_in %>
        <li class="nav-item">
          <a class="nav-link" href="/users/edit"><i class="fa fa-address-card-o"></i>&nbsp;&nbsp;Profile</a>
        </li>
        
        <a class="nav-link"><i class="fa fa-arrow-up"></i><%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "nav-link" %></a>
        
     
        
        <li class="nav-item">
          <a class="nav-link">Hi <%= @user.email if @user %>!</a>
        </li>
        
      <% end %>
  </div>
</nav>

